
/* Estilo para el fondo */
 body {
        margin: 0;
            padding: 0;
            height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la pantalla */
            background-image: url(Portada.jpg); /* Pon la ruta de tu imagen */
            background-size: cover; /* Hace que la imagen cubra toda la pantalla */
            background-position: center center; /* Centra la imagen en la pantalla */
            background-attachment: fixed; /* Fija la imagen mientras se desplaza la página */
      }
